<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        window.onload = () => {
            if (sessionStorage.getItem("session_id")) {
                fetch("/chats/list?session_id=" + sessionStorage.getItem("session_id"), {
                    method: "GET"
                })
                    .then((res) => res.json())
                    .then((res) => {
                        console.log(res);
                    });

                fetch("/chats/unread-messages?session_id=" + sessionStorage.getItem("session_id"), {
                    method: "GET"
                })
                    .then((res) => res.json())
                    .then((res) => {
                        console.log(res);
                    });
            } else {
                alert("wrong session");
            }
        };

        function create_chat() {
            fetch("/chat", {
                method: "POST",
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({
                    session_id: sessionStorage.getItem("session_id")
                })
            })
                .then((res) => res.text())
                .then((res) => {
                    location.href = "/chat?id=" + res;
                });
        }

        function enter_chat() {
            fetch("/chat/join", {
                method: "POST",
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({
                    session_id: sessionStorage.getItem("session_id"),
                    chat_id: document.getElementById("chat_id").value
                })
            })
                .then(() => {
                    location.href = "/chat?id=" + document.getElementById("chat_id").value;
                });
        }
    </script>
</head>
<body>
    <div class="container">
        <h2 class="title" style="margin-top: 10px">채팅방 목록</h2>
        <div>
            <button onclick="create_chat()">채팅방 생성</button>
        </div>
        <div>
            <span>채팅방 ID &nbsp;</span>
            <input id="chat_id" type="text" value="">
            <button onclick="enter_chat()">채팅방 입장</button>
        </div>
    </div>
</body>
</html>