<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>Pella</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css"/>
    <script>
        let chatId = (new URL(location.href)).searchParams.get("id");

        window.onload = function() {
            if (!sessionStorage.getItem("session_id")) {
                alert("wrong session");
                return;
            }

            fetch("/chat/init-messages?id=" + chatId + "&session_id=" + sessionStorage.getItem("session_id"), {
                method: "GET"
            })
                .then((res) => res.json())
                .then((res) => {
                    res.forEach((message) => {
                        if (message.type.startsWith("MESSAGE_")) {
                            if (message.userId === sessionStorage.getItem("user_id")) { // my message
                                let messageElement = document.createElement("div");
                                messageElement.className = "message-to";
                                messageElement.innerHTML = "<span>" + message.message + "</span>";
                                document.getElementsByClassName("message-container")[0].appendChild(messageElement);
                            } else {
                                let messageElement = document.createElement("div");
                                messageElement.className = "message-from";
                                messageElement.innerHTML = "<span>" + message.message + "</span>";
                                document.getElementsByClassName("message-container")[0].appendChild(messageElement);
                            }
                        } else if (message.type === "NOTICE") {
                            let messageElement = document.createElement("div");
                            messageElement.className = "message-alert";
                            messageElement.innerHTML = "<span>" + message.message + "</span>";
                            document.getElementsByClassName("message-container")[0].appendChild(messageElement);
                        }
                    });
                });

            websocket = new WebSocket("ws://" + window.location.host + "/ws");
            websocket.onopen = (e) => onSocketOpen(e);
            websocket.onclose = (e) => onSocketClose(e);
            websocket.onmessage = (e) => onSocketMessage(e);
            websocket.onerror = (e) => onSocketError(e);

            window.onbeforeunload = () => {
                websocket.send(JSON.stringify({
                    type: "EXIT_SESSION",
                    sessionId: sessionStorage.getItem("session_id"),
                    chatId: chatId
                }));
            };
        }

        function onSocketOpen(e) {
            websocket.send(JSON.stringify({
                type: "ENTER",
                sessionId: sessionStorage.getItem("session_id"),
                chatId: chatId
            }));
        }

        function onSocketClose(e) {
            console.log(e);
        }

        function onSocketMessage(e) {
            let message = JSON.parse(e.data);

            if (message.type.startsWith("MESSAGE_")) {
                if (message.sessionId === sessionStorage.getItem("session_id")) { // my message
                    let messageElement = document.createElement("div");
                    messageElement.className = "message-to";
                    messageElement.innerHTML = "<span>" + message.message + "</span>";
                    document.getElementsByClassName("message-container")[0].appendChild(messageElement);
                } else {
                    let messageElement = document.createElement("div");
                    messageElement.className = "message-from";
                    messageElement.innerHTML = "<span>" + message.message + "</span>";
                    document.getElementsByClassName("message-container")[0].appendChild(messageElement);
                }
            } else if (message.type === "NOTICE") {
                let messageElement = document.createElement("div");
                messageElement.className = "message-alert";
                messageElement.innerHTML = "<span>" + message.message + "</span>";
                document.getElementsByClassName("message-container")[0].appendChild(messageElement);
            } else if (message.type === "COMPLETE") {
                console.log("리뷰 작성 시작");
                // 최종 공동구매 종료를 위해서 유저를 삭제해야 함
                fetch("/chat/exit-user", {
                    method: "POST",
                    headers: { "Content-type": "application/json; charset=UTF-8" },
                    body: JSON.stringify({
                        session_id: sessionStorage.getItem("session_id"),
                        chat_id: chatId
                    })
                });
            } else if (message.type === "ERROR") {
                alert(message.message);
            }
        }

        function onSocketError(e) {
            alert("서버와 통신을 할 수 없습니다. 처음부터 다시 시도해 주세요.");
            window.location.href = "/";
        }

        function doSend() {
            let userText = document.getElementsByClassName("sending-text")[0].value;
            if (userText === "")
                return

            document.getElementsByClassName("sending-text")[0].value = "";

            websocket.send(JSON.stringify({
                type: "MESSAGE_TEXT",
                sessionId: sessionStorage.getItem("session_id"),
                chatId: chatId,
                message: userText
            }));
        }

        function doExit() {
            fetch("/chat/exit-user", {
                method: "POST",
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({
                    session_id: sessionStorage.getItem("session_id"),
                    chat_id: chatId
                })
            });
            location.href = "/chats";
        }

        function doComplete() {
            websocket.send(JSON.stringify({
                type: "COMPLETE",
                sessionId: sessionStorage.getItem("session_id"),
                chatId: chatId
            }));
        }
    </script>
</head>
<body>
    <div class="container">
        <div class="header" style="margin-bottom: 10px;">
            <button class="go-back" onclick="doExit()">공동구매 포기하기</button>
            <button class="go-back" onclick="doComplete()">공동구매 완료</button>
        </div>
        <div class="message-container">
        </div>
        <div class="sending-container">
            <input class="sending-text" type="text" placeholder="내용을 입력해주세요." onkeyup="if(window.event.keyCode==13){doSend()}"/>
            <input type="button" value="전송" onclick="doSend()"/>
        </div>
    </div>
</body>
</html>