<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <script>
        function onLogin() {
            fetch("/user/signin", {
                method: "POST",
                headers: { "Content-type": "application/json; charset=UTF-8" },
                body: JSON.stringify({
                    user_id: document.getElementById("id").value
                })
            }).then((res) => res.text())
                .then((res) => {
                    if (res !== "") {
                        sessionStorage.setItem("session_id", res);
                        sessionStorage.setItem("user_id", document.getElementById("id").value);
                        location.href = "/chats";
                    } else {
                        document.getElementById("id").value = "";
                    }
                });
        }
    </script>
</head>
<body>
<input id="id" type="text" placeholder="아이디" value="ypjun100">
<button onclick="onLogin()">로그인</button>
</body>
</html>